*{
    margin: 0;
    padding: 0;
}


.foyer{
    height: 100vh;
    background-color: rgb(5, 0, 106);
}

.foyer h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;

}


.foyer p{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: white;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}